.container {
  composes: redBackground from "colors.css";
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 3px #999;
  z-index: 1020;
}

.left {
  flex-grow: 1;
  width: 40px;
}
.title {
  flex-grow: 2;
  text-align: center;
  color: #FFF;
  font-size: 1.1em;
  font-weight: 700;
}
.right {
  flex-grow: 1;
  width: 40px;
}

.link {
  text-decoration: none;
  color: #FFF;
  font-size: 1.3em;
  font-weight: 400;
  padding-left: 14px;
}
